.header-spacer{
  height: 61px;
}

.logo{
  height: 35px;
}

.contain{
  object-fit: contain;
}

.card-image{
  height: 320px;
}

.detail-image{
  height: 360px;
}

.item:hover,
.back:hover,
.cart:hover{
  cursor: pointer;
}

.form-instructions{
  color: red;
  font-size: .75rem;
}
