.header-spacer{
  height: 61px;
}

.logo{
  height: 35px;
}

.contain{
  object-fit: contain;
}

.card-image{
  height: 320px;
}

.detail-image{
  height: 360px;
}

.card{
  transition: all .2s ease-in-out;
}

.item:hover,
.back:hover,
.cart:hover,
.product-card:hover{
  cursor: pointer;
}

.product-card:hover{
  transform: scale(1.02);
  box-shadow: 0 0 10px rgb(228, 228, 228);
}

.form-instructions{
  color: red;
  font-size: .75rem;
}
